@import 'variables.scss';


.content {
  padding-top: $navigation-height 0;

  h1 {
    width: 100%;
    color: $text-color;
    padding: $navigation-height 0;
  }

  .featured-posts-container {
    display: flex;
  }

  .bg-white {
    background: white;
  }
}

@media screen and (max-width: 900px) {
  .home {
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
  }

  .featured-posts-container {
    flex-direction: column;
  }
}



// .container {
//   max-width: 1200px;
//   margin: 0 auto;
// }

// .row {
//   margin: 4em 20px;
// }

// .overlay:before {
//   z-index: 1;
//   content: '';
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background: linear-gradient(
//     180deg,
//     transparent 0%,
//     transparent 18%,
//     rgba(0, 0, 0, 0.8) 99%,
//     rgba(0, 0, 0, 0.8) 100%
//   );
// }