@import "vars";
@import "im";

.sliderWrapper {
  margin-block-end: 30px;

  .card {
    position: relative;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    background-size: cover;
    background-position: center center;
    text-decoration: none;
    
    padding: 10px 20px;
    
    width: 100%;
    margin: 0 auto;
    
    @include media('<phone') {
      height: 200px;
    }
    @include media('>=phone', '<tablet') {
      height: 300px;
    }
    @include media('>=tablet', '<desktop') {
      width: 700px;
      height: 350px;
    }
    @include media('>=desktop') {
      width: 900px;
      height: 400px;
    }
  }

  .card > * {
    z-index: 1;
  }

  .title {
    font-family: "Open Sans Light";
    font-weight: 300;
    font-size: large;
    color: $text-light;
  }
}

.overlay:after {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, transparent, black);
}

// Slider arrows
.prevArrow,
.nextArrow {
  z-index: 10;
  &:before {
    color: white;
    opacity: 0.3;
    transition: ease 0.2s;
  }
}
.prevArrow {
  left: 10px;
}
.nextArrow {
  right: 10px;
}
