@import 'vars';
@import 'im';

.gridPaginationContainer {
  .antdPagination {
    text-align: center;
    padding-bottom: 50px;
  }
}

.postGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: 1fr;
  
  @include media('<=tablet') {
    grid-template-columns: 1fr;
  }
  
  figure {
    height: 100%;
    max-height: 280px;
  }

  img {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    min-height: 225px;
    max-height: 280px;
  }

  .postContainer {
    display: flex;
    flex-direction: column;

    .tags {
      margin: 0;
      margin-block-end: 5px;
    }

    .title {
      margin: 0;
      margin-block-end: 5px;
    }

    .date {
      color: $text-light;
      margin: 0;
    }
  }
}
