@import "variables.scss";

.navigation {
  height: $navigation-height;
  width: 100%;
  background-color: white;
  color: $text-color;

  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;

  position: fixed;
  z-index: 100;
  top: 0;

  // -= Gradient border =-
  border-top: 0;
  border-bottom: $navigation-gradient-border-size transparent;
  border-style: solid none;
  border-image: linear-gradient(
    to right,
    transparent,
    $showandnews-golden,
    transparent
  );
  border-image-slice: 1;

  .topStripe {
    flex-direction: column;
    width: 360px;
    height: 24px;

    font-size: 16px;
    background-color: $logo-background-color;
    color: white;

    margin: 0 auto 12px auto;

    display: flex;
    text-align: center;
  }

  .navIcon {
    font-size: 36px;
    align-items: center;
    cursor: pointer;
    display: none;
  }

  .menuContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuList {
    margin-block-start: 0;
    margin-block-end: 12px;
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-weight: 500;

    .menuItem {
      &Link {
        text-decoration: none;
        padding: 0 10px 0 10px;
        font-size: 16px;
        color: $menu-item-color;

        &:hover {
          transition: ease 300ms;
          color: $menu-item-color-hover;
        }
      }

      &:not(:last-of-type):after {
        content: "|";
        color: $menu-item-color;
        position: relative;
        top: -3px;
        font-size: 80%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .navigation {
    height: $navigation-height-mobile;
    flex-direction: row-reverse;

    %menu-container {
      width: $navigation-menu-width-mobile;
      height: calc(
        100% - #{$navigation-height-mobile} - #{$navigation-gradient-border-size}
      );
      background-color: white;
      position: fixed;
      top: $navigation-height-mobile + 1px;
      transition: 300ms ease left;
      align-items: flex-start;
      justify-content: start;
    }

    .menuContainer {
      @extend %menu-container;
      left: -$navigation-menu-width-mobile;

      &Active {
        @extend %menu-container; 
        left: 0px;
      }
    }

    .menuList {
      padding: 20px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: baseline;
      margin: 0;

      .menuItem {
        padding-bottom: 20px;
        &:not(:last-of-type):after {
          display: none;
        }
      }
    }

    .topStripe {
      display: none;
    }

    .navIcon {
      height: $navigation-height-mobile / 2;
      display: block;
      margin: auto 0;
      margin-left: $navigation-height-mobile / 4;
      float: left;
    }
  }
}
