@import 'vars';
@import 'im';

.pageNavigation {
  block-size: $nav-block-size;
  inline-size: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-block-end: 12px;

  position: fixed;

  // ! inset-block-start doesn't work
  top: 0px;
  z-index: 1000;

  border: 0;
  border-bottom: $nav-border-inline-size solid;
  border-image: $border-gradient;

  .logo {
    // TODO: Относительный/адаптивный
    font-size: 48px;
  }

  .topStripe {
    display: flex;
    justify-content: center;

    inline-size: 360px;
    block-size: 24px;

    font-size: 16px;
    background-color: $showandnews-golden;
    color: white;
  }

  .navIcon {
    display: none;
  }

  .menuContainer {
    display: flex;
    justify-content: center;
  }

  .menuList {
    margin: 0;
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-weight: 500;

    .menuItem {
      &Link {
        text-decoration: none;
        padding: 0 10px 0 10px;
        font-size: 16px;
        color: $nav-menu-item-color;

        &:hover {
          transition: ease 300ms;
          color: $nav-menu-item-color-hover;
        }
      }

      &:not(:last-of-type):after {
        content: "|";
        color: $nav-menu-item-color;
        position: relative;
        inset-block-start: -3px;
        font-size: 80%;
      }
    }
  }
}

@include media('<=tablet') {
  .pageNavigation {
    width: 100%;
    box-sizing: border-box;

    padding-block-end: 0;
    padding-inline-start: 4%;
    padding-inline-end: 5%;

    // ! inset-block-start doesn't work
    top: 0px;

    block-size: $nav-block-size-mobile;
    flex-direction: row-reverse;

    //* Golden ratio inline size
    $inlineSize: 100% - 100% / $phi;

    .logo {
      // TODO: Относительный/адаптивный
      font-size: 6vw;

      display: flex;
      text-align: center;
      margin-block-end: 0.5vw;
    }

    .menuContainer {
      inline-size: $inlineSize;
      block-size: calc(100% - #{$nav-block-size-mobile} - #{$nav-border-inline-size});
      background-color: white;
      position: fixed;
      top: $nav-block-size-mobile;
      transition: 300ms ease left;
      align-items: flex-start;
      justify-content: start;
      left: -$inlineSize;
      overflow: auto;

      &.active {
        left: 0px;
      }
    }

    .menuList {
      padding: 10%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: baseline;
      margin: 0;

      .menuItem {
        padding-bottom: 3vw;
        &:not(:last-of-type):after {
          display: none;
        }
        &Link {
          font-size: 4vw;
        }
      }
    }

    .topStripe {
      display: none;
    }

    .navIcon {
      display: block;
      cursor: pointer;
      block-size: 50%;
      filter: contrast(50%);
    }
  }
}
