@import 'vars';

.logoTitle {
  text-decoration: none;
  color: $showandnews-darkgrey;
  font-family: 'Playfair Display Black';
  letter-spacing: 1px;

  &:hover {
    color: $showandnews-darkgrey;
  }
}
