@font-face {
  font-family: 'Playfair Display Black';
  src: url('/fonts/Playfair Display/Playfair-Display-Black.ttf') format('truetype');
}

// https://fontstorage.com/ru/font/the-league-of-moveable-type/raleway
@font-face {
  font-family: 'Raleway Light';
  src: url('/fonts/Raleway/Raleway-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/Open Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('/fonts/Open Sans/OpenSans-Light.ttf') format('truetype');
}