@font-face {
  font-family: 'Playfair Display Black';
  src: url('/fonts/PlayfairDisplay-Black.ttf') format('truetype');
}

$showandnews-golden: rgb(183, 150, 79);
$showandnews-burgundy: rgb(144, 26, 45);
$showandnews-darkgrey: #444;

$text-link: #2997ff;
$text-color: $showandnews-darkgrey;
$text-light: #999;

$logo-background-color: $showandnews-golden;
$logo-font: 'Playfair Display Black';

$navigation-height: 150px;
$navigation-height-mobile: 80px;

$navigation-gradient-border-size: 1px;

$navigation-menu-width-mobile: 240px;

$background: #f8f9fa;
$border: #ccc;

$menu-item-color: $showandnews-burgundy;
$menu-item-color-hover: $showandnews-golden;